<!DOCTYPE html>
<html>
	{% block stylesheets %}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	{% endblock %}
	{% block javascripts %}
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	{% endblock %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<h1>
		Liste des Annonces
	</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Type</th>
				<th scope="col">Superficie</th>
				<th scope="col">Nombre des pièces</th>
				<th scope="col">Localisation</th>
				<th scope="col">Prix</th>
				<th scope="col">Photo</th>
				<th scope="col">Description</th>
				<th scope="col">Contact</th>

			</tr>
		</thead>
		<tbody>
			{% for a in listAnnonces %}

				<tr>

					<td>
						{{a.type}}
					</td>

					<td>
						{{a.superficie}}
					</td>

					<td>
						{{a.nbPieces}}
					</td>
					<td>
						{{ a.localisation}}
					</td>


					<td>
						{{ a.prix}}
					</td>

					<td>
						{{a.photo}}
					</td>

					<td>
						{{a.description}}
					</td>
					<td>
						{{a.contact}}
					</td>
					<td>
						<button class="btn">
							<i class="fa fa-edit"></i>

						</button>

						<button class="btn">
							<i class="fa fa-trash"></i>
							<a href="{{ path('delete_annonce', {'id': a.id}) }}"></a>
						</button>
					</td>


				</tr>

			{% endfor %}
		</tbody>
	</table>


</html>
